/*图层目录树控件*/
#layertree{
    background: #6c4f37 none repeat scroll 0 0; 
    opacity: 0.9; 
    font-size: 14px;
    z-index: 1003; 
    position: absolute;
    right: 15px; 
    top: 35px; 
    width: 270px;
    /*边缘的宽度*/
    border-width: 10px;
    /*圆角的大小 */
    border-radius: 10px;
    /*边框颜色*/
    border-color: #000 #000 #000 #000;
}
#layertree .title{
    font-weight: bold;
    font-size: 16px;
    margin: 10px;
}
/* 鼠标位置控件层样式设置 */
#mouse-position {
    float: left;
    position: absolute;
    bottom: 0px;
    width: 330px;
    /*在地图容器中的层，要设置z-index的值让其显示在地图上层*/
    z-index: 2000;
}
/* 鼠标位置信息自定义样式设置 */
.custom-mouse-position {
    color: rgb(0,0,0);
    font-size: 16px;
    font-family: "微软雅黑";
}
/* 缩放滑块控件ZoomSlider的样式，放置到缩放按钮之间实现导航条功能*/
#mapCon .ol-zoom .ol-zoom-out {
    margin-top: 204px;
}
#mapCon .ol-zoomslider {
    background-color: transparent;
    top: 2.3em;
}
#mapCon .ol-touch .ol-zoom .ol-zoom-out {
    margin-top: 212px;
}
#mapCon .ol-touch .ol-zoomslider {
    top: 2.75em;
}
#mapCon .ol-zoom-in .ol.has-tooltip:hover[role=tooltip],
#mapCon .ol-zoom-in .ol-has-tooltip:focus[role=tooltip] {
    top: 3px;
}
#mapCon .ol-zoom-out .ol-has-tooltip:hover[role=tooltip],
#mapCon .ol-zoon-out .ol-has-out-tooltip:focus[role=tooltip] {
    top: 232px;
}
#mapCon .ol-zoom-extent {
    top: 280px;
}
.ol-popup {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6) ;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}
.ol-popup:after,
.ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "";
}